# Gradle
build/
.gradle/

# IDE
.idea/
.eclipse/
*.iml
*.ipr
*.iws
out/

# Forge / MC
run/
logs/
src/generated/

# Local JDK
.jdk/

# OS
.DS_Store
Thumbs.db

# Compiled
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
